html, body {
    height: 100%;
    /*background: url(../images/background.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

#searchBar {
  padding-bottom: 10px;
  background-color: khaki;
}

#main-page {
    padding-left: 3px;
    padding-right: 3px;
    overflow: auto;
}

.navbar {
    background-color: orange;
    margin-bottom: 0;
}

.fill {
    position: relative;
    width: 100%;
    height: 90%;
    min-height: 90%;
    margin: 0;
}

.bottomleft {
  position: absolute;
  bottom: 5%;
  width: 90%;
  margin: 0;
  background-color: khaki;
}

@media (min-width: 500px) {
  .bottomleft {
      width: 30%;
  }
}

.btn-primary {
  background-color: darkorange;
  border-color: darkorange;
}

.btn-primary:hover {
  background-color: darkorange;
  border-color: darkorange;
  filter: brightness(90%);
}

.badge {
  background-color: darkorange;
}

.panel .panel-heading {
  color: white;
  background-color: darkorange;
}

.menu-list {
    list-style-type: none;
}

#dinnerOverview {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.menu-list li {
    border-style: solid;
}

#main-page {
    margin-right: 0;
    background-color: khaki;
}

#dinnerOverview .well {
    padding:5px;
    margin-bottom:3px;
    background-color: khaki;
}

#totalPrice {
  background-color: darkorange;
}

.dish-card {
  min-height: 330px;
  max-width: 200px;
  background-color: snow;
}

.total-card {
  min-height: 330px;
  max-width: 200px;
  background-color: white;
  border: 0
}

.total-card div {
    position: absolute;
    bottom: 5%;
}

.dish-card .fade-buttons {
    opacity: 0.2;
    transition: opacity 0.4s ease-in-out;
    color: orange;
}

.dish-card:hover .fade-buttons {
    opacity: 1;
    transition: none;
}

.dish-card>img {
  min-width: 140px;
  min-height: 140px;
}

#final-page table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

#final-page td {
    border: 0;

    text-align: left;
    padding: 8px;
}

#final-page #dinnerOverview {
	background-color: khaki;
}


